<script src="https://unpkg.com/scrollreveal"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  ScrollReveal().reveal('.navbar', {delay: 500});
  ScrollReveal().reveal('.jumbotron', {delay: 1000});
  ScrollReveal().reveal('.card', {delay: 1000});    
  ScrollReveal().reveal('.reveal', {delay: 1000});  
</script>
<style>
  .jumbotron {
    background-image: url("https://wallpaperaccess.com/full/2175402.jpg");
    background-size: cover;
    filter: brightness(1.2);
  }
</style>
<script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://bootswatch.com/_assets/js/custom.js"></script>
</body>
</html>