<%- include("include/header") %>
<body>
<%- include("include/navbar-user") %>
<main>

    <section class="container mt-n4 mb-5">
      <div class="row">
        <div class="mx-auto">
          <div class="">
            <div class="text-center">
                <h1>Checkout</h1>
                <p class="lead">Seccion para validar compras.</p>
            </div>
            <div class="row">
                <div class="col-md-5 order-md-2 mb-4" id="checkout">
                    
                </div>
                <div class="col-md-7 order-md-1">
                    <h4 class="mb-3">Dirección de Envio</h4>
                    <form id="purchase" method="POST">                        
                        <div class="mb-3">
                            <label for="address">Dirección</label>
                            <input type="text" class="form-control" id="address" maxlength="150" required>                            
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="city">Estado</label>
                                <select class="custom-select d-block w-100" id="city" required>
                                    <option value="">Selecciona un estado</option>
                                    <option value="Aguascalientes">Aguascalientes</option>
                                    <option value="Baja California">Baja California</option>
                                    <option value="Baja California Sur">Baja California Sur</option>
                                    <option value="Campeche">Campeche</option>
                                    <option value="Ciudad de México">Ciudad de México</option>                                    
                                    <option value="Chiapas">Chiapas</option>
                                    <option value="Chihuahua">Chihuahua</option>
                                    <option value="Coahuila">Coahuila</option>
                                    <option value="Colima">Colima</option>
                                    <option value="Durango">Durango</option>
                                    <option value="Estado de México">Estado de México</option>
                                    <option value="Guanajuato">Guanajuato</option>
                                    <option value="Guerrero">Guerrero</option>
                                    <option value="Hidalgo">Hidalgo</option>
                                    <option value="Jalisco">Jalisco</option>                                    
                                    <option value="Michoacán">Michoacán</option>
                                    <option value="Morelos">Morelos</option>
                                    <option value="Nayarit">Nayarit</option>
                                    <option value="Nuevo León">Nuevo León</option>
                                    <option value="Oaxaca">Oaxaca</option>
                                    <option value="Puebla">Puebla</option>
                                    <option value="Querétaro">Querétaro</option>
                                    <option value="Quintana Roo">Quintana Roo</option>
                                    <option value="San Luis Potosí">San Luis Potosí</option>
                                    <option value="Sinaloa">Sinaloa</option>
                                    <option value="Sonora">Sonora</option>
                                    <option value="Tabasco">Tabasco</option>
                                    <option value="Tamaulipas">Tamaulipas</option>
                                    <option value="Tlaxcala">Tlaxcala</option>
                                    <option value="Veracruz">Veracruz</option>
                                    <option value="Yucatán">Yucatán</option>
                                    <option value="Zacatecas">Zacatecas</option>
                                </select>
                            </div>    
                            <div class="col-6">
                                <label for="zipcode">Código postal</label>
                                <input type="text" class="form-control d-block w-100" id="zipcode" minlength="5" maxlength="5" pattern="[0-9]+" title="El código se compone de 5 números" required>                   
                            </div>                                                   
                        </div>                        
                        <hr class="mb-4">
                        <h4 class="mb-3">Metodo de Pago</h4>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" value="Tarjeta de crédito" name="method" type="radio" class="custom-control-input" checked required>
                                <label class="custom-control-label" for="credit">Tarjeta de crédito</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" value="Tarjeta de débito" name="method" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="debit">Tarjeta de débito</label>
                            </div>       
                            <div class="custom-control custom-radio">
                                <input id="paypal" value="Paypal" name="method" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>       
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="cc-number">Numero de Tarjeta</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required="">                      
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="cc-expiration">Expiración</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required=""> 
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-cvv">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required=""> 
                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Pagar</button>
                    </form>
                </div>
            </div>
            
        </div>
      </div>
    </section>
  
  </main>
  <script type="module" src="/js/checkout.js"></script>
<%- include("include/footer") %>