<%- include("include/header") %>
<body>
  <main class="container mt-n4">
    <div class="row">
      <div class="col text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 24 24"><path fill="black" d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
        <strong class="d-block mt-n2 title">Tecla Store</strong>      
      </div>    
    </div>
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-secondary my-3">
          <div class="card-body">
            <h4 class="card-title text-center mb-3 form-signin">Iniciar sesión</h4>                      
            <form id="login">
              <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" class="form-control" id="email" required>              
              </div>
              <div class="form-group">
                <label for="pass">Contraseña</label>
                <input type="password" class="form-control" id="pass" required>
              </div>
              <div class="mb-3">
                <label>
                  <input type="checkbox" id="recordar"> Mantener sesión iniciada
                </label>
              </div>
              <button type="submit" class="btn btn-primary w-100">Enviar</button>
              <div class="text-muted text-center mt-2">¿No tienes cuenta? <a href="/signup">Regístrate</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script>    
    document.body.style.backgroundImage = "url('/img/backgroung-vg.jpg')"
    ScrollReveal().reveal('.container', {delay:200})
    ScrollReveal().reveal('.form-group', {delay:400})
  </script>
  <style>
    .card{
      background-color: rgba(245, 245, 245, 0.5);
    }
  </style>
  <script type="module" src="/js/login.js"></script>
</body>
<%- include("include/footer") %>
