<%- include("include/header") %>
<body>
<%- include("include/navbar-user") %>
    <main> 
        <div class="mt-n4 pb-5 bg-light">
        <div class="container">
            <div class="loader d-none mx-auto" id="loader"></div>
            <div class="row" id="productos">       
            </div>
        </div>
        </div>
    </main>
    <script type="module" src="/js/search.js"></script>
<%- include("include/footer") %>